body {

   background-color: brown;

}
   hr{

  border-style: none;
 border-top-style: dotted;
 border-color: grey;
border-width: 5px;
width: 5%;

}
/*  img {
    height: 150px;
    border-radius: 120px;
  } */
  .atif{
    height: 150px;
    color: black;
  }
  .atif:hover{
    height:200px;
  }
  .circular{
    border-radius: 120px;

  }
h1 {
color: black;
}
h3 {
  color: black;
}
